.main-content {
    max-width: 1080px;
    margin: 0 auto;
}

header, footer {
    background: #b2b2b2;
}

header {
    margin-bottom: 50px;
}

footer {
    margin-top: 50px;
}


/*CSS FOR TABLE-LIKE STYLING*/
#students_result {
    width: 100%;
}

/*.listitem {
    background: #fefefe;
    padding: 12px 5%;
    width: 90%;
    overflow: hidden;
}*/

.listitem:after {
    clear: both;
    }

.listitem:nth-child(2n) {
    background: #dedede;
    }

.listitem:hover {
    background: #e9d898;
    }
/*sandbox.bittsdevelopment.com/colcalc
    columns : 4
    gutter/column ratio : 0.2
*/
.col4, .col4last {
    float: left;
    width: 21.73%;
    margin-right: 4.34%;
}

.col4last {
    margin-right: 0%;
}




/*GENERAL CSS*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

/*LOGO*/

.main-nav {
    max-width: 1080px;
    margin: 0 auto;
    color: floralwhite;
    padding: 0.5em;
}

header, footer {
    background: #2FBACC;
}

header {
    margin: 0;
}

.main-nav #title {
    color: #012840;
    font-size: 1em;
    position: relative;
    left: 5em;
}

img {
    position: relative;
    margin: 0.5em;
    width: 25%;
}

/*NAVIGATION*/
a {
    color: floralwhite;
    text-decoration: none;
    margin-right: 0.5em;
}

    a:hover {
        color: #03738C;
        font-weight: bold;
    }

.main-nav li {
    display: inline-block;
}

.main-nav #header-nav { 
    position: absolute;
    top: 3em;
    right: 2em;
} 

/* MAIN CONTENT*/
.main-content {
    text-align: center;
}

.students, .teachers, .classes {
    color: aliceblue;
    border-radius: 10%;
    width: 80px;
    padding: 0.5em;
    margin-bottom: 1em;
    font-weight: bold;
}

    .students:hover, .teachers:hover, .classes:hover {
        background-color: aliceblue;
        color: black;
    }

.students {
    background: #001943;
}

.teachers {
    background: #DEA200;
}

.classes {
    background: #03738C;
}



footer {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}




                                   


